{% extends 'base.html.twig' %}

{% block title %}{{ 'Test Home' }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>{{ 'Test Home' }}</h1>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('home') }}">{{ 'Home' }}</a>
        </div>
    </div>
{% endblock %}
