{% extends 'base.html.twig' %}

{% block title %}Test Js HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Test Js! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/loki/dev/test/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/loki/dev/test/templates/home/index.html.twig'|file_link(0) }}">templates/home.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
