{% extends 'base.html.twig' %}

{% block title %}{{ 'Test Js' }}{% endblock %}

{% block body %}
    <div>
        <h1>{{ 'Test Js' }}</h1>
        <br>
        <a href="{{ path('test_home') }}">{{ 'Test Code' }}</a>
    </div>
{% endblock %}
